<div class="container">
	<div class="city">
		<div class="title">
			<h2>{{place}}</h2>
			<h3>{{area}},{{district}}</h3>
		</div>
		<div class="date-time">
<!-- 			<div class="dmy">
				<div id="txt"></div>
				<div class="date">
				</div>
			</div> -->
			<div class="temperature">
				<p>{{avgtemp}}°<span>C</span></p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="forecast">
		<div class="forecast-icon">
			<img src="assets/images/forecast.png" alt="New York Weather Widget">
		</div>
		<div class="today-weather">
			<h3>Today</h3>
			<ul>
				<li>Now <span> {{avgtemp}}°C</span></li>
				<li>Min Temp <span> {{mintemp}}°C</span></li>
				<li>Max Temp <span> {{maxtemp}}°C</span></li>
				<li>Pressure  <span> {{pressure}}mb</span></li>
				<li>Humidity<span>{{humidity}}%</span></li>
			</ul>
		</div>
	</div>
</div>